/** @format */

/* Global Styles */
/* * {
	border: #faff00 2px solid;
} */

body {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', 'Actor', 'Adamina', sans-serif, serif;
}

/* Header styles */
#header {
	background-color: aqua;
	background-image: url('/assets/images/moving\ 1.png');
	background-position: center center;
	object-fit: none;
	height: 90vh;
}
#header nav {
	padding-top: 50px;
	margin-left: 40%;
}
#header nav .nav-links {
	/* justify-content: space-between; */
}

#header > nav > .nav-links > li {
	list-style: none;
	display: inline;
	margin: 30px;
}
#header > nav > .nav-links > li > a {
	text-decoration: none;
	color: white;
	font-size: 1.5rem;
}
.info {
	margin-top: 5%;
}
.info > .large {
	font-size: 5rem;
	margin-left: 5%;
	color: #faff00;
	width: 50%;
}
.info > .small {
	font-size: 2.5rem;
	margin-left: 5%;
	color: #fff;
	width: 50%;
}

/* Hustle section */
.hustle {
	margin-top: 50px;
	/* border: 3px solid red; */
}
.hustle > .hustle-content {
	display: flex;
}

.hustle > .hustle-content > .img-hustle {
	background-image: url('/assets/images/moving2\ 1.png');
	/* background-color: green; */
	background-size: 100% 100%;
	width: 40%;
	min-height: 800px;
	/* border: #faff00 2px solid; */
	margin: 5px;
}

.hustle > .hustle-content > .img-desc {
	/* background-color: brown; */
	/* opacity: 0.1; */
	/* border: darkgray 2px solid; */
	align-items: center;
	width: 60%;

	justify-content: center;
}
.hustle > .hustle-content > .img-desc > .desc-container {
	width: 70%;
	/* border: green 2px solid; */

	margin-left: 40px;
	margin-top: 10%;
}
.strip {
	width: 150px;
	height: 5px;
	/* background-color: black; */
	background: linear-gradient(
		90deg,
		rgba(0, 0, 0, 1) 0%,
		rgba(176, 135, 60, 1) 0%,
		rgba(0, 0, 0, 1) 39%,
		rgba(192, 207, 10, 1) 100%
	);
	margin-left: 20px;
	margin-top: 20%;
}
.hustle > .hustle-content > .img-desc > .desc-container > .desc-text {
	margin-left: 20px;
	width: 70%;
}

.hustle > .hustle-content > .img-desc > .desc-container > .desc-text h1 {
	font-size: 3rem;
	font-weight: 300;
	margin-top: -2px;
}
.hustle > .hustle-content > .img-desc > .desc-container > .desc-text p {
	font-size: 2rem;
	font-weight: 200;
	color: darkgray;
}
.hustle > .hustle-content > .img-desc > .desc-container > .button {
	background-color: black;
	color: #ffac12;
	padding: 10px 10px;
	height: 50px;
	border: none;
	font-size: 15px;
	display: block;
	border-top-right-radius: 20px;
	transform: scale(2);
	margin: 80px;
}
.fa-solid {
	color: #ffac12;
	margin-left: 5px;
}

/* Movers section */
#movers {
	width: 100vw;
	background-color: lightgray;
	/* border: #fff 2px solid; */
	margin-top: 50px;
}
#movers .strip {
	margin-top: 5%;
	margin-left: 12vw;
}
#movers > h1 {
	margin-left: 12vw;
	font-size: 3rem;
}
/* cards */
.card-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background-color: inherit;
}
.card {
	background-color: white;
	width: 25%;
	margin: 15px;
	border-radius: 40px;
}
.card h2 {
	margin-left: 10px;
	padding-left: 10px;
}
.card-img {
	height: 400px;
	/* background-color: darkgray; */
	margin-bottom: 10px;
}
.card > .card-1 {
	background-image: url('/assets/images/ehem\ 1.png');
	background-size: 100% 100%;
}
.card > .card-2 {
	background-image: url('/assets/images/wewe\ 1.png');
	background-size: 100% 100%;
}
.card > .card-3 {
	background-image: url('/assets/images/movers\ 1.png');
	background-size: 100% 100%;
}
.card > .card-4 {
	background-image: url('/assets/images/chapchap\ 1.png');
	background-size: 100% 100%;
}
.card > .card-5 {
	background-image: url('/assets/images/mashinani\ 1.png');
	background-size: 100% 100%;
}
.card > .card-6 {
	background-image: url('/assets/images/songa\ 1.png');
	background-size: 100% 100%;
}

.icons-container {
	display: flex;
	justify-content: center;
	height: 10%;
}
.icon {
	width: 33.33%;
	border: 1px solid lightgray;
	text-align: center;
	align-items: center;
}
.fa-solid {
	color: black;
	font-size: larger;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 5px;
}
.bed {
	border-bottom-left-radius: 5px;
}
hr {
	width: 80%;
	font-weight: lighter;
	border: 0 none;
	height: 1px;
	background-color: lightgray;
	/* margin: auto; */
}

/* footer section */
footer {
	background-color: black;
	height: 55vh;
}
.footer h1 {
	color: white;
	margin-left: 20%;
}
.footer-head {
	/* border: #faff00 1px solid; */
	/* margin-top: 200px; */
}
.footer > .footer-head > h1 > span {
	color: #ffac12;
}
.footer-contents-container {
	margin-top: 70px;

	display: flex;
	/* justify-content: space-around; */
}
.links-container {
	/* border: #faff00 1px solid; */
}
.column-container {
	margin-top: 40px;
	display: flex;
	/* border: 2px solid red; */
	margin-left: 40vw;
	margin-bottom: 20px;
}
.column {
	margin-top: 30px;
	margin-right: 50px;
	/* border: 1px solid green; */
	padding: 10px;
	text-align: center;
}
.column h2 {
	text-transform: capitalize;
	color: #fff;
}
.column ul {
	margin: 10px;
}
.column ul li {
	color: #fff;
	list-style: none;
	line-height: 2;
	margin-right: 40px;
	font-size: 20px;
}
.icons2-container {
	align-items: center;
	margin-left: 30px;
	/* border: 1px solid orange; */
	display: flex;
	justify-content: center;
}
.icon-1 {
	width: 2vw;
	height: 4vh;
	/* border: 1px solid lightgray; */
	margin: 10px;
	text-align: center;
	align-items: center;
}
.icons2-container > .facebook,
.instagram,
.twitter {
	color: #fff;
	font-size: 2rem;
}
#header-property {
	background-color: black;
}
nav ul {
	align-items: center;
	display: inline-flex;
	justify-content: center;
	margin-left: 40%;
}
nav ul li {
	list-style: none;
	display: inline;
	margin: 30px;
}
nav ul li a {
	color: white;
	text-decoration: none;
}
.btn-prop {
	background-color: #ffac12;
	padding: 20px 20px;
	border-top-right-radius: 40px;
}
.btn-prop a .fa-solid {
	color: white;
}
.prop {
	width: 100vw;
}
.mordern,
.price {
	color: #fff;
}
.mordern,
.price > p {
	font-size: 10px;
}
.mordern,
.price > h3 {
	font-size: 20px;
}
.head-container {
	display: flex;
	justify-content: space-between;
	margin: 30px;
}
.body-cont {
	background-color: lightgray;
}
.img-form {
	display: flex;
}
.left {
	background-image: url('../images/Property\ House.png');
	width: 60vw;
	height: 70vh;
	background-size: 100% 100%;
}
.form {
	width: 40%;
}
input {
	display: block;
	width: 50%;
	margin: 30px;
	height: 2rem;
	border-radius: 4px;
	border: none;
}
.interest {
	height: 4rem;
	text-align: left;
}
form a {
	text-decoration: none;
	background-color: black;
	color: white;
	padding: 10px 10px;
	margin-left: 30px;
	width: 200px;
	color: white;
}
.form-img {
	background-color: lightgray;
}
.form-img > .img {
	background-image: url('../images/Rectangle-10.png');
	border-radius: 50%;
}
.arrow {
	column-rule: white;
}
.rectangle-container {
	margin-top: 40px;
	width: 58vw;
	height: 15vh;
}
.rectangles {
	display: flex;

	height: 100%;
}
.rectangles > .rectangle-1 {
	background-image: url('../images/Rectangle-1.png');
	background-size: 100% 100%;
	width: 14%;
	margin: 10px;
}
.rectangles > .rectangle-2 {
	background-image: url('../images/Rectangle-2.png');
	background-size: 100% 100%;
	width: 14%;
	margin: 10px;
}
.rectangles > .rectangle-3 {
	background-image: url('../images/Rectangle-3.png');
	background-size: 100% 100%;
	width: 14%;
	margin: 10px;
}
.rectangles > .rectangle-4 {
	background-image: url('../images/Rectangle-4.png');
	background-size: 100% 100%;
	width: 14%;
	margin: 10px;
}
.rectangles > .rectangle-5 {
	background-image: url('../images/Rectangle-5.png');
	background-size: 100% 100%;
	width: 14%;
	margin: 10px;
}
.rectangles > .rectangle-6 {
	background-image: url('../images/Rectangle-6.png');
	background-size: 100% 100%;
	width: 14%;
	margin: 10px;
}
.rectangles > .rectangle-7 {
	background-image: url('../images/Rectangle-7.png');
	background-size: 100% 100%;
	width: 14%;
	margin: 10px;
}
