/** @format */

/* Global Styles */
/* * {
	border: #faff00 2px solid;
} */

body {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', 'Actor', 'Adamina', sans-serif, serif;
}

/* Header styles */
#header {
	background-color: aqua;
	background-image: url('/assets/images/moving\ 1.png');
	background-position: center center;
	object-fit: none;
	height: 90vh;
}
#header nav {
	padding-top: 50px;
	margin-left: 40%;
}
#header nav .nav-links {
	/* justify-content: space-between; */
}

#header > nav > .nav-links > li {
	list-style: none;
	display: inline;
	margin: 30px;
}
#header > nav > .nav-links > li > a {
	text-decoration: none;
	color: white;
	font-size: 1.5rem;
}
.info {
	margin-top: 5%;
}
.info > .large {
	font-size: 5rem;
	margin-left: 5%;
	color: #faff00;
	width: 50%;
}
.info > .small {
	font-size: 2.5rem;
	margin-left: 5%;
	color: #fff;
	width: 50%;
}

/* Hustle section */
.hustle {
	margin-top: 50px;
	/* border: 3px solid red; */
}
.hustle > .hustle-content {
	display: flex;
}

.hustle > .hustle-content > .img-hustle {
	background-image: url('/assets/images/moving2\ 1.png');
	/* background-color: green; */
	background-size: 100% 100%;
	width: 40%;
	min-height: 800px;
	/* border: #faff00 2px solid; */
	margin: 5px;
}

.hustle > .hustle-content > .img-desc {
	/* background-color: brown; */
	/* opacity: 0.1; */
	/* border: darkgray 2px solid; */
	align-items: center;
	width: 60%;

	justify-content: center;
}
.hustle > .hustle-content > .img-desc > .desc-container {
	width: 70%;
	/* border: green 2px solid; */

	margin-left: 40px;
	margin-top: 10%;
}
.strip {
	width: 150px;
	height: 5px;
	/* background-color: black; */
	background: linear-gradient(
		90deg,
		rgba(0, 0, 0, 1) 0%,
		rgba(176, 135, 60, 1) 0%,
		rgba(0, 0, 0, 1) 39%,
		rgba(192, 207, 10, 1) 100%
	);
	margin-left: 20px;
	margin-top: 20%;
}
.hustle > .hustle-content > .img-desc > .desc-container > .desc-text {
	margin-left: 20px;
	width: 70%;
}

.hustle > .hustle-content > .img-desc > .desc-container > .desc-text h1 {
	font-size: 3rem;
	font-weight: 300;
	margin-top: -2px;
}
.hustle > .hustle-content > .img-desc > .desc-container > .desc-text p {
	font-size: 2rem;
	font-weight: 200;
	color: darkgray;
}
.hustle > .hustle-content > .img-desc > .desc-container > .button {
	background-color: black;
	color: #ffac12;
	padding: 10px 10px;
	height: 50px;
	border: none;
	font-size: 15px;
	display: block;
	border-top-right-radius: 20px;
	transform: scale(2);
	margin: 80px;
}
.fa-solid {
	color: #ffac12;
	margin-left: 5px;
}

/* Movers section */
#movers {
	width: 100vw;
	background-color: lightgray;
	border: #fff 2px solid;
	margin-top: 50px;
}
#movers .strip {
	margin-top: 5%;
	margin-left: 12vw;
}
#movers > h1 {
	margin-left: 12vw;
	font-size: 3rem;
}
/* cards */
.card-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background-color: inherit;
}
.card {
	background-color: white;
	width: 25%;
	margin: 15px;
	border-radius: 40px;
}
.card h2 {
	margin-left: 10px;
	padding-left: 10px;
}
.card-img {
	height: 400px;
	/* background-color: darkgray; */
	margin-bottom: 10px;
}
.card > .card-1 {
	background-image: url('/assets/images/ehem\ 1.png');
	background-size: 100% 100%;
}

.icons-container {
	display: flex;
	justify-content: center;
	height: 10%;
}
.icon {
	width: 33.33%;
	border: 1px solid lightgray;
	text-align: center;
	align-items: center;
}
.fa-solid {
	color: black;
	font-size: larger;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 5px;
}
.bed {
	border-bottom-left-radius: 5px;
}
